.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
  border-radius: 10px;
  margin: 10px;
  display: block;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );

  display: block;
  margin: 20px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;

  border-radius: 10px;

  padding: 20px;
}

body {
  background: white;
  max-width: 600px;

  color: rgba(35, 35, 75, 0.863);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-top: -8px;
}

h2 {
  font-weight: lighter;
  text-transform: capitalize;
}

h3 {
  width: 200;
  color: whitesmoke;
  padding: 0%;
  margin: 0%;
}
h4 {
  font-size: 100px;
  padding: 0%;
}
#date {
  margin-top: -30px;
}
#weekday {
  font-size: 50px;
  padding: 0%;
  margin-bottom: -2%;
  margin-top: -16px;
}
#time {
  font-size: 25px;
  margin-bottom: 19px;
}

.sunrise {
  display: block;
  text-align: center;
  word-spacing: 45px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.precipitation {
  display: block;
  text-align: center;
  word-spacing: 51px;
  margin-bottom: 34px;
  font-size: 20px;
}
.sun,
.high,
.low {
  font-weight: bold;
}

.weather-forecast {
  display: block;
  position: relative;
  max-width: 400px;
  text-align: center;
  margin: auto;
  padding-bottom: 26px;
}
.weatherForecast {
  margin-top: -16px;
  margin-left: 79px;
  margin-right: 36px;
  margin-bottom: 18px;
}

#celsius {
  font-size: 28px;
  color: rgb(56, 60, 65);
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  top: -112px;
  left: 83px;
}
#farenheit {
  font-size: 28px;
  color: rgb(56, 60, 65);
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  top: -112px;
  left: 83px;
}

#githubLink {
  display: block;
  text-align: center;
  margin: auto;
}

.form-control {
  background: #90e3fe;
  color: #23234bc2;
  border-radius: 20px;
  border-color: transparent;
  border-width: 0px;
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 140px;
  text-align: right;
  position: relative;
  top: 6px;
  left: 393px;
}
.form-control::placeholder {
  font-size: 13px;
  color: rgba(35, 35, 75, 0.76);
}

.🔍 {
  background: #90e3fe;
  color: rgba(35, 35, 75, 0.76);
  border-radius: 50px;
  border-color: transparent;
  border-width: 0px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0;
  top: 36px;
  left: 504px;
}

#currentlocation {
  background: #90e3fe;
  color: rgba(35, 35, 75, 0.76);
  border-radius: 50px;
  border-color: transparent;
  border-width: 0px;
  display: block;
  text-align: center;
  position: relative;
  top: -15px;
  left: 423px;
  font-size: 12px;
}

@media (max-width: 960px) {
  .form-control {
    position: relative;
    top: 6px;
    left: 149px;
  }

  .🔍 {
    position: relative;
    margin: 0;
    top: 36px;
    left: 257px;
  }

  #currentlocation {
    position: relative;
    top: -15px;
    left: 177px;
    font-size: 12px;
  }
  .container {
    margin: 0;
    padding: 5px;
  }
}
